* {
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

div {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}